body {
  font-family: sans-serif ;
  font-size: 40px;
  padding: 320px 90px ;
  background: #c1440a;
}

h1{
  color: white;
}

.cont_logo{
 
  text-decoration: none;
  color:#ad3c08 ;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-left: 50px;
  margin-bottom: 300px;
}


